*.frm linguist-vendored
*.frx linguist-vendored
*.vbp linguist-vendored
*.vbw linguist-vendored
*.bas linguist-vendored
*.cls linguist-vendored
*.dsr linguist-vendored
*.lbs linguist-vendored
*.vbw linguist-vendored
*.log linguist-vendored
*.exe linguist-vendored
*.dll linguist-vendored
*.ocx linguist-vendored
*.tlb linguist-vendored
*.tlh linguist-vendored
*.dep linguist-vendored
*.pdb linguist-vendored
*.exp linguist-vendored
*.bak linguist-vendored
